.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
    background: #ffffff;
}
.navbar-menu {
    margin-right: -1%;
}
.search-btn{
    display: inline-flex;
    position: relative;
    vertical-align: top;
    margin-left: 20%;
    text-decoration: none;
    text-decoration: none;
    padding: 20px 5px;
}
.search-btn input{
    padding: 10px 8px;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    background: #609966;
}
.mat-mdc-form-field-subscript-wrapper {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: none;
}
.avatar{
    margin-right: 5%;
    margin-left: 5%;
}
.avatar img {
    max-height: 2rem;
    border-radius: 50%;
    margin-top: 10%;
}
.admin-information{
    display: flex;
    width: 100%;
    align-items: center;
}
.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
.example-sidenav {
    padding: 20px;
}
.side-bar{
    position: absolute;
    border-right: 1px black solid ;
    height: 100%;
}
.side-bar a{
    display : block;
    width: 100%;
    text-decoration: none;
    padding: 30px 10px;
    font-size: 15px;
    line-height: 2.0;
}
a{
    color: black;
}
.side-bar li:hover{
    cursor: pointer;
    background: rgba(96, 153, 102, 0.64);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}