.home-container{
    background-image: url(/assets/homepage.jpg);
    /* display: block; */
    width: 89%;
    height: 100vh;
    background-size: cover;
    margin-left: auto;
    background-repeat: no-repeat;
    overflow: hidden;
}