html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    // height: 100%;
    // background-image: url("/assets/backgroundlogin.jpg");
	width: 100vw;
	height: 100vh;
    /* additional style */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("/assets/backgroundlogin.jpg"); /* Optional background color */
    background-size: cover;
}
.container-form{
    width: 60%;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    display: inline-flex;
    overflow: hidden;
}

.col-left , .col-right {
    width: 50%;
}
.col-left{
    text-align: center;
}
.col-right{
    display: flex;
    border-left: 1px ;
    border-left: 2px solid #ccc;
}
.imgHolder img{
    display: block;
    width: 80%;
    margin-left: 10%;
}

@media screen and (min-width: 1408px){
     .container:not(.is-max-desktop):not(.is-max-widescreen) {
         max-width: 1920px;
     }
}

