<div class="container">
    <div class="container-form">
            <div class="col-left">
                <h2>Login as a Admin User</h2>
                <form action="">
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="**********">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3">LOGIN</button>
                    </div>
                </form>
                <h4 class="forgetPass">Forget your Password ?</h4>
                <h4 class="gethelp">Get help Signed in</h4>
                <p class="policy">Terms of use . Privacy policy</p>
            </div>
            <div class="col-right">
                    <img src="/assets/loginSide.png" alt="">
            </div>
    </div>
</div>